.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: 2s;

}

.header__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color:$color-primary;
    text-transform: uppercase;
}

.container__header {
    justify-content: space-between;
    align-items: center;
}

.user-nav {
    display: flex;
    justify-content: space-between;

    &__item {
        list-style: none;
        margin: 3rem;
    }

    &__link:link,
    &__link:visited {
        font-size: 1.5rem;
        text-decoration: none;
        color: $color-primary;
        cursor: pointer;

    }
}

.header--dark {
    border-bottom: 2px solid $color-grey-dark-2;
    background-color: $color-grey-dark-1;
    z-index: 100;

}

