

.heading1 {
    font-family: 'Montserrat', sans-serif;
    color: $color-white;
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: .3rem;

}

.heading2 {
    font-family: 'Montserrat', sans-serif;
    color: $color-grey-dark-3;
    font-size: 3.5rem;
    letter-spacing: .2rem;
    margin-bottom: 5rem;
}


