//COLORS

$color-white: #fff;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #e0e0e0;
$color-grey-light-3: #e8e8e8;
$color-grey-light-4: #777777;

$color-grey-dark-1: #111111;
$color-grey-dark-2: #222222;
$color-grey-dark-3: #4a4a4a;
// $color-grey-dark-5: #1111118c;

$color-blue-light: #7690c5;

$color-primary: #1abc9c;

//SOCIAL MEDIA COLORS

$color-facebook: #3B5998;
$color-twitter: #1DA1F2;
$color-instagram: #C32AA3;
$color-linkedin: #007BB5;
$color-tumblr: #35465D;
