//COLORS

$color-white: #fff;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #e0e0e0;
$color-grey-light-3: #e8e8e8;
$color-grey-light-4: #777777;

$color-grey-dark-1: #111111;
$color-grey-dark-2: #222222;
$color-grey-dark-3: #4a4a4a;
// $color-grey-dark-5: #1111118c;

$color-blue-light: #7690c5;

$color-primary: #1abc9c;

//SOCIAL MEDIA COLORS

$color-facebook: #3B5998;
$color-twitter: #1DA1F2;
$color-instagram: #C32AA3;
$color-linkedin: #007BB5;
$color-tumblr: #35465D;


// BREAKPOINTS

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}



